
<ion-content >

    <ion-card color="dark">
        <ion-card-content>
          <br>
            <div class="printable-content">
                <div class="printable-area" id="printable-area">
                  <table class="header-table">
                    <tr>
                      <td width="40%" class="title"><img src="https://images.pexels.com/photos/1516654/pexels-photo-1516654.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="logo" height="40px" /></td>
                    
                    </tr>
                  </table>
                  <br>
                  <div class="cc">
                  <h2>Payment Receipt</h2>
                  <br>
                  <table class="subheader-table">
                    <tr>
                      <td width="30%">
                        <dt>Invoice No:</dt>
                        <dd>009223-222</dd>&nbsp;
                      </td>
                      <br>
                      <td width="40%">
                        <dt>Invoice Total:</dt>
                        <dd>R {{payAmount}}.00</dd>&nbsp;
                      </td>
                    </tr>
                  </table>
                  <h3>Invoice Details:</h3>
                  <table class="detail-table">
                    <tr>
                      <th width="50%">Description</th>
                      <th width="20%">Amount</th>
                     
                    </tr>
                    <tr> 
                      <td>{{paramText1}}</td>
                      <td>{{unitp1}}</td>
                    </tr>
                    <tr>
                      <td>{{paramText2}}</td>
                      <td>{{unitp2}}</td>
                    </tr>
                    <tr>
                      <td>{{paramText3}}</td>
                      <td>{{unitp3}}</td>
                    </tr>
                    <tr>
                        <td>{{paramText4}}</td>
                        <td>{{unitp4}}</td>
                      </tr>
                      <tr>
                          <td>{{paramText5}}</td>
                          <td>{{unitp5}}</td>
                        </tr>
                        <tr>
                            <td>{{paramText6}}</td>
                            <td>{{unitp6}}</td>
                          </tr>
                  </table>
                  <br>
                  <table class="footer-table">
                    <tr>
                      <td width="70%">Sub Total: </td>
                      <td width="30%">R {{payAmount}}.00</td>
                    </tr>
                    
                  </table>
                </div>
              </div>
              </div>
                            
        </ion-card-content>
      </ion-card>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <ion-button expand="full" color="dark"  (click)="pay()">Payment Receipt</ion-button>
</ion-content>
