<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-card color="dark">
    <ion-card-content >
        
            <ion-grid color="dark">
                    <ion-row>
                            <ion-col>
                              <div><img src="https://assets.mystarbucks.com.au/imagecache/bestfit/620x634/_files/Beverages/brewed_coffee.jpg" (click)="Pic()"><br><b>{{coffeeType[0]}}</b><br><i><small>starts at: R{{prices[0]}}.00</small></i></div>
                            </ion-col>
                            <ion-col>
                              <div><img src="https://assets.mystarbucks.com.au/imagecache/bestfit/240x240/_files/Beverages/SBX20080807_3256_1.jpg" (click)="Pic()"/><br><b>{{coffeeType[1]}}</b><br><i><small>starts at: R{{prices[1]}}.00</small></i></div>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                                <ion-col>
                                  <div><img src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x288/_files/Beverages/green_tea_latte.jpg" (click)="Pic()"/><br><b>{{coffeeType[2]}}</b><br><i><small>starts at: R{{prices[2]}}.00</small></i></div>
                                </ion-col>
                                <ion-col>
                                  <div><img src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x288/_files/Beverages/espresso_shot.jpg" (click)="Pic()"/><br><b>{{coffeeType[3]}}</b><br><i><small>starts at: R{{prices[3]}}.00</small></i></div>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                    <ion-col>
                                      <div><img src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x288/_files/Beverages/white_hot_chocolate.jpg" (click)="Pic()"/><br><b>{{coffeeType[4]}}</b><br><i><small>starts at: R{{prices[4]}}.00</small></i></div>
                                    </ion-col>
                                    <ion-col>
                                      <div><img src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x288/_files/Beverages/chat_tea_latte.jpg" (click)="Pic()"/><br><b>{{coffeeType[5]}}</b><br><i><small>starts at: R{{prices[5]}}.00</small></i></div>
                                    </ion-col>
                                  </ion-row>
                          
            </ion-grid>
    </ion-card-content>
</ion-card>

</ion-content>