<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            Coffee Cafe
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content > 
  
<br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br>

        <ion-card color="dark">
                <ion-card-header>
                  <ion-card-subtitle><h1 class="center"><i>WELCOME</i></h1></ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                        <ion-grid>
                                <ion-row>
                                  <ion-col>
                                    <div><ion-icon name="cafe" (click)="order()"></ion-icon><br> Menu</div>
                                  </ion-col>
                                  <ion-col>
                                    <div><ion-icon name="information-circle-outline"></ion-icon><br>How to Use</div>
                                  </ion-col>
                                </ion-row>
<!-- 
                                <ion-row>
                                        <ion-col>
                                          <div><ion-icon name="pin"></ion-icon><br>Location</div>
                                        </ion-col>
                                        <ion-col>
                                          <div><ion-icon name="qr-scanner"></ion-icon><br>Scan to Pay</div>
                                        </ion-col>
                                      </ion-row> -->
                                </ion-grid>
                </ion-card-content>
              </ion-card>
              <ion-button expand="full" color="dark" (click)="order()">ORDER NOW</ion-button>
</ion-content>